$darkest-blue: #303f9f;
$dark-blue: #3f51b5;
$medium-blue: #5a6acc;
$light-blue: #818fe8;
$lightest-blue: #d7e0fd;
$dark-red: #c02e0c;
$medium-red: #f24100;

$base-font-color: #212121;

$font-stack: 'Raleway', sans-serif;